@import "../../styles/variables";
@import "../../styles/global";
@import "../../styles/components";

#shop__banner {
 background: rgba($secondaryColor, 0.5);
 display: flex;
 justify-content: center;
 align-items: center;
 align-content: center;
}

.banner__container {
 display: flex;
 position: relative;
 flex-direction: column;
 max-width: 90vw;
 max-height: 80vh;
 margin: auto;

 @include breakpoint(lg) {
  height: 90vh;
 }

 @include breakpoint(xl) {
  flex-direction: row;
  height: fit-content;
 }

 img {
  max-height: 50%;
  object-fit: cover;

  @include breakpoint(xl) {
   max-width: 50%;
  }
 }
}

.banner__btn {
 position: absolute;
 bottom: -2vh;
 left: calc(45vw - 17.5vw);
 @include breakpoint(xl) {
  left: calc(45vw - 10vw);
  bottom: -3vh;
 }
}
