button {
 cursor: pointer;
 border: none;
 border-radius: 2vw;
 background-image: linear-gradient(45deg, $primaryColor, $accentColor);
 color: white;
 font-family: $pathway;
 font-size: 4vw;
 text-transform: uppercase;
 letter-spacing: 0.4vw;
 padding: 4vw;

 @include breakpoint(lg) {
  border-radius: 1vw;

  font-size: 2vw;
  padding: 2vw;
 }
}
