* {
 font-size: 10px;
}
body {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
a {
 text-decoration: none;
}
ul {
 list-style: none;
}

h1 {
 color: white;
 font-family: $nunito;
 font-size: 15vw;

 text-transform: capitalize;
 @include breakpoint(lg) {
  font-size: 10vw;
 }
}
