//Colors
$primaryColor: #faad80;
$secondaryColor: #ff6767;
$accentColor: #ff3d68;

//Font-Family
$nunito: "Nunito", sans-serif;
$pathway: "Pathway Gothic One", sans-serif;

// Media queries
$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

@mixin breakpoint($point) {
 @if $point == sm {
  @media (min-width: 576px) {
   @content;
  }
 }
 @if $point == md {
  @media (min-width: 768px) {
   @content;
  }
 }
 @if $point == lg {
  @media (min-width: 992px) {
   @content;
  }
 }
 @if $point == xl {
  @media (min-width: 1200px) {
   @content;
  }
 }
 @if $point == xxl {
  @media (min-width: 1400px) {
   @content;
  }
 }
}
